<div class="sign-in-container">
    <div class="site-content">
        <h1>Registrace</h1>
        <div>Pro registraci je potrebne si vytvorit ucet tveho teamu. Po vytvoreni se muzete v sekci Ucet prihlasit a doplnit zbyvajici data hracu.
            Zde budout take informace o hre, poplatek atd atd atd.
        </div>

        <div class="separating-line"></div>

        <form action="" class="sign-in-form">
            <app-input label='Email'>
                <input type="email">
            </app-input>
          
            <app-input label='Password'>
              <input type="password">
          </app-input>
        </form>

    </div>
</div>
