<div class='lore-container'>
  <div class='site-content lore-texts'>
    <h1>MUŠKÁT V OKNĚ NEBO VÝBUŠNINA?</h1>
    <p>
      Zástupce exportní firmy se konečně blížil k cíly dnešní procházky - jeho oblíbené hospůdce u řeky.
      Už od rána se těšil na vychlazené pivo a vyhlášenou specialitu místní kuchyně.
      Nenápadně si prohlédl levé okno v prvním patře domu.
      Hledal malý květináč se žlutou květinou značící nové dokumenty uložené v nedaleké mrtvé schránce. Hmmm, a co ten
      červený muškát v pravém okně? Že by nový kousek ze sbírky paní hodpodské, nebo znamení “pošlete další výbušninu”?
      <br/>Agent tiše zaklel. Proč si jen špioni nedělají nikdy zápisky?
      <br/>
      V tom mu to došlo - jedna červená přeci znamená “jsem pod dohledem”. Bez bemenšího zaváhání pokračoval pomalým
      tempem v cestě. Bude muset urychleně kontaktovat Medvěda a Havrana.
      Zdejší kontrarozvědka byla infiltrována.
    </p>
  </div>
  <img class='lore-image' src='assets/lore.svg' alt='lore'>
</div>
