/** WARNING: Do NOT import this file in any component style */

html,
body {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}

body {
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

/* stylelint-disable-next-line selector-max-type */
input,
button {
  border: none;
  background: none;
}

.separating-line {
  height: 1.5px;
  background-color: #C4C4C4;
  width: 100%;
  margin: 15px 0;
}

.site-content {
  margin: 20px 200px 0 200px;
  width: 100%;

  h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
  }
}

img {
  height: 150px;
}

.button {
  background-color: #C4C4C4;
  padding: 11px 30px 8px 30px;
  text-transform: uppercase;
  color: #1E201D;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
border-radius: 15px;
}