/** WARNING: Do NOT import this file in any component style */

html,
body {
  height: 100%;
  font-family: 'Alegreya', serif;
  font-family: 'Roboto Mono', monospace;
}

body {
  line-height: 1;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

/* stylelint-disable-next-line selector-max-type */
input,
button {
  border: none;
  background: none;
}

.separating-line {
  height: 1.5px;
  background-color: #C4C4C4;
  width: 100%;
  margin: 15px 0;
}

.site-content {
  margin: 40px 280px;
  width: 100%;

  h1 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
  }
}